[Unit]
Description=Hue Bridge Polling
Wants=hue-polling.timer
After=network-online.target docker.service

[Service]
Type=oneshot
User=saruman
WorkingDirectory=/home/saruman/projects/hue-bridge/polling
EnvironmentFile=/home/saruman/projects/hue-bridge/.env
ExecStart=/home/saruman/projects/hue-bridge/polling/.venv/bin/python poller.py
Environment=PYTHONDONTWRITEBYTECODE=1
StandardOutput=journal
StandardError=journal
SyslogIdentifier=hue-polling

[Install]
WantedBy=multi-user.target
