[Unit]
Description=Run Hue Bridge polling every 5 minutes
Requires=hue-polling.service

[Timer]
OnBootSec=2min
OnUnitActiveSec=5min
Persistent=true

[Install]
WantedBy=timers.target
